
.el-breadcrumb__inner a:hover, .el-breadcrumb__inner.is-link:hover {
    color: var(--color-primary-1) !important;
}
  
.el-breadcrumb__inner a, .el-breadcrumb__inner.is-link {
    font-weight: 600 !important;
    color: black !important;
    cursor: pointer !important;
    font-size: 18px !important;
    line-height: 26px !important;
    letter-spacing: 0em !important;
}